* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #5e5e5e;
}
header {
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.default_btn {
  font-weight: 500;
  line-height: 24px;
  border: 2px solid #ffc222;
  border-right-width: 21px;
  padding: 8px 25px;
  display: inline-block;
  position: relative;
  outline: none;
  background: transparent;
}
.default_btn:before {
  content: "\f105";
  font-family: 'icomoon';
  position: absolute;
  right: -12px;
  color: #fff;
}
.header_top {
  background-color: #303030;
}
.header_top .header_btn {
  float: right;
  font-size: 16px;
  line-height: 36px;
  color: #1b1b1b;
  background-color: #ffc222;
  padding: 5px 20px 4px 50px;
  position: relative;
  outline: none;
}
.header_top .header_btn:before {
  content: "\f0b1";
  font-family: 'icomoon';
  position: absolute;
  left: 20px;
  color: #1b1b1b;
}
.header_top .header_contacts:after {
  content: "";
  clear: both;
  display: block;
}
.header_top .header_phone,
.header_top .header_email {
  color: #fff;
  letter-spacing: 0.25px;
  line-height: 45px;
  position: relative;
}
.header_top .header_phone {
  padding-left: 20px;
  padding-right: 30px;
}
.header_top .header_phone:before {
  content: "\f095";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffc222;
}
.header_top .header_email {
  padding-left: 24px;
}
.header_top .header_email:before {
  content: "\f003";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffc222;
}
.header_content {
  padding: 34px 0px 23px;
}
.header_content .header_content-inner {
  display: flex;
  justify-content: space-between;
}
.header_content .menu li {
  display: inline-block;
}
.header_content .menu a {
  color: #323232;
  font-size: 16px;
  line-height: 34px;
  border: 1px solid transparent;
  padding: 0 16px;
}
.header_content .menu a:hover {
  border-color: #ffc222;
  transition: all 0.3s;
}
.header_content .menu li + li {
  padding-left: 10px;
}
.slider {
  background-image: url(../images/slider_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
}
.slider .slider_inner {
  position: relative;
}
.slider .slider_inner .slick-btn {
  position: absolute;
  border: 1px solid #fff;
  top: 70%;
  z-index: 2;
  width: 40px;
  height: 40px;
  background-color: #ffc222;
  cursor: pointer;
  outline: none;
}
.slider .slider_inner .slick-btn:before {
  top: 50%;
  left: 50%;
  font-family: 'icomoon';
  transform: translate(-50%, -50%);
  color: #fff;
}
.slider .slider_inner .slick-prev {
  left: 0;
}
.slider .slider_inner .slick-prev:before {
  content: "\f104";
}
.slider .slider_inner .slick-next {
  right: 0;
}
.slider .slider_inner .slick-next:before {
  content: "\f105";
}
.slider .slider_inner .slick-disabled {
  background-color: transparent;
  cursor: default;
}
.slider .slider_inner .slider_item-content {
  text-align: center;
  padding-top: 110px;
  max-width: 665px;
  margin: 0 auto;
}
.slider .slider_inner .slider_item-content .slider_title {
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 22px;
  letter-spacing: 0.5px;
}
.slider .slider_inner .slider_item-content .slider_text {
  color: #bdbdbe;
  font-style: 18px;
  font-family: 'PT Serif', serif;
  line-height: 24px;
  margin-bottom: 50px;
}
.slider .slider_inner .slider_item-content .slider_btn {
  color: #fff;
}
.about {
  padding: 61px 0 34px;
}
.top_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.top_box .title_box {
  max-width: 520px;
  padding-left: 140px;
  position: relative;
}
.top_box .title_box:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  background-color: #ffc222;
  width: 106px;
  height: 2px;
}
.top_box .title_box .title_inner {
  font-size: 24px;
  font-weight: 500px;
  color: #212020;
  line-height: 24px;
}
.top_box .title_box .text_inner {
  font-size: 14;
  line-height: 18px;
  letter-spacing: 0.1px;
  margin-top: 15px;
  font-family: 'PT Serif', serif;
}
.top_box .btn_inner a {
  color: #373636;
  line-height: 24px;
  border: 3px solid #e6e6e6;
  padding: 5px 40px;
  letter-spacing: 0.25px;
}
.top_box .btn_inner a:hover {
  border-color: #ffc222;
}
.about_items {
  display: flex;
  justify-content: space-between;
}
.about_items .about_item {
  max-width: 360px;
  min-height: 375px;
  background-color: #f9f9f9;
  text-align: center;
  padding: 22px 35px 38px;
  box-shadow: 3.5px 6.062px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.about_items .about_item .about_item-title {
  font-size: 18px;
  line-height: 24px;
  color: #212020;
  margin: 25px 0;
}
.about_items .about_item .about_title-text {
  font-size: 14px;
  line-height: 18px;
  font-family: 'PT Serif', serif;
  letter-spacing: 0.1px;
  margin-bottom: 65px;
}
.about_item-btn .about_item-link {
  float: left;
  color: #212020;
  border-bottom: 1px solid #212020;
  margin-top: 12px;
}
.about_item-btn .items_btn {
  color: #373636;
  float: right;
}
.company {
  background-image: url(../images/company.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 300px;
  padding: 35px 0 45px;
}
.company .company_inner {
  max-width: 545px;
  padding-left: 12px;
}
.company .company_inner .company_title {
  color: #fff;
  font-size: 24px;
  line-height: 24px;
}
.company .company_inner .company_text {
  color: #d3d2d2;
  margin: 30px 0;
  line-height: 24px;
  font-family: 'PT Serif', serif;
  letter-spacing: 0.1px;
}
.company .company_inner .items_btn {
  color: #fff;
  padding: 10px 26px;
}
.form {
  padding-top: 41px;
}
.form .form_inner {
  background-image: url(../images/form_bg.png);
  background-repeat: no-repeat;
  min-height: 460px;
  background-position: bottom right;
  padding-bottom: 40px;
}
.form .form_inner .form_box {
  max-width: 850px;
}
.form .form_inner .form_box .form_box-inner {
  display: flex;
  justify-content: space-between;
}
.form .form_inner .form_box .form_box-inner label,
.form .form_inner .form_box .form_box-inner input,
.form .form_inner .form_box .form_box-inner select,
.form .form_inner .form_box .form_box-inner textarea {
  display: block;
  width: 100%;
}
.form .form_inner .form_box .form_box-inner label {
  line-height: 36px;
  color: #282828;
}
.form .form_inner .form_box .form_box-inner input {
  margin-bottom: 4px;
}
.form .form_inner .form_box .form_box-inner input,
.form .form_inner .form_box .form_box-inner select {
  outline: none;
  border: 1px solid #e6e6e6;
  height: 40px;
  padding: 0 15px;
}
.form .form_inner .form_box .form_box-inner select {
  background: transparent;
}
.form .form_inner .form_box .form_box-inner textarea {
  outline: none;
  height: 207px;
  border: 1px solid #e6e6e6;
  padding: 15px 15px;
  margin-bottom: 38px;
  resize: none;
}
.form .form_inner .form_box .form_box-inner .form_box-left {
  max-width: 260px;
  width: 100%;
}
.form .form_inner .form_box .form_box-inner .form_box-right {
  max-width: 555px;
  width: 100%;
  position: relative;
}
.form .form_inner .form_box .form_box-inner .form_box-right .form_btn {
  position: absolute;
  right: 0;
}
.form .form_inner .form_box .form_box-inner .form_box-right .form_btn:before {
  color: #282828;
}
.about_us {
  background-image: url(../images/about_us.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 287px;
}
.about_us .about_us-items {
  display: flex;
  justify-content: space-between;
  padding-top: 54px;
  margin: 0 auto;
}
.about_us .about_us-items .about_us-item {
  text-align: center;
  max-width: 340px;
  position: relative;
}
.about_us .about_us-items .about_us-item:before {
  content: "";
  position: absolute;
  border: 2px solid #ffc222;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
}
.about_us .about_us-items .about_us-item:after {
  content: "\f00c";
  font-family: 'icomoon';
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}
.about_us .about_us-items .about_us-item .about_us_title {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin: 60px 0 22px;
}
.about_us .about_us-items .about_us-item .about_us_text {
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #d3d2d2;
}
.news {
  padding: 60px 0 107px;
  background-color: #f9f9f9;
}
.news .news_inner {
  display: flex;
  justify-content: space-between;
}
.news .news_blog {
  position: relative;
  max-width: 260px;
  width: 100%;
}
.news .news_blog .news_date {
  position: absolute;
  top: 0;
  left: 14px;
  height: 54px;
  width: 47px;
  background-color: #ffc222;
  text-align: center;
  padding-top: 30px;
  color: #fff;
  font-weight: 600;
}
.news .news_blog .news_blog_title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #242424;
  letter-spacing: 0.5px;
  margin-top: 17px;
}
.news .news_blog .news_blog_text {
  font-family: 'PT Serif', serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #5e5e5e;
  margin-top: 15px;
}
.news_slider {
  max-width: 555px;
  width: 100%;
  background-color: #fff;
}
.news_slider .news_slider-inner {
  position: relative;
}
.news_slider .news_slider-inner .slick-btn {
  position: absolute;
  border: 1px solid #fff;
  top: 112%;
  z-index: 2;
  width: 40px;
  height: 40px;
  background-color: #ffc222;
  cursor: pointer;
  outline: none;
}
.news_slider .news_slider-inner .slick-btn:before {
  top: 50%;
  left: 50%;
  font-family: 'icomoon';
  transform: translate(-50%, -50%);
  color: #fff;
}
.news_slider .news_slider-inner .slick-prev {
  right: 57px;
}
.news_slider .news_slider-inner .slick-prev:before {
  content: "\f104";
}
.news_slider .news_slider-inner .slick-next {
  right: 0;
}
.news_slider .news_slider-inner .slick-next:before {
  content: "\f105";
}
.news_slider .news_slider-inner .slick-disabled {
  background-color: transparent;
  border-color: #dadada;
  cursor: default;
}
.news_slider .news_slider-inner .slick-disabled:before {
  color: #dadada;
}
.news-slider-item {
  padding: 60px 34px 45px 70px;
  box-shadow: 2.5px 4.33px 15.36px 0.64px rgba(128, 127, 127, 0.13);
  outline: none;
}
.news_slider-title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #242424;
}
.news_slider-text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #5e5e5e;
  font-family: 'PT Serif', serif;
  margin-top: 17px;
}
.news_slider-info {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #212020;
  margin-top: 17px;
}
.footer_contant {
  background-color: #595959;
  padding: 26px 0 35px;
}
.footer_contant-inner {
  display: flex;
  justify-content: space-between;
}
.footer_info {
  max-width: 350px;
}
.footer_info .footer_title {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #fff;
}
.footer_info .footer_text {
  font-size: 14px;
  line-height: 18px;
  color: #d3d2d2;
  margin: 15px 0 23px;
}
.footer_info .footer_btn {
  font-size: 16px;
  line-height: 36px;
  color: #1b1b1b;
  background-color: #ffc222;
  padding: 5px 20px 4px 50px;
  position: relative;
  outline: none;
}
.footer_info .footer_btn:before {
  content: "\f0b1";
  font-family: 'icomoon';
  position: absolute;
  left: 20px;
  color: #1b1b1b;
}
.footer_info ul li {
  margin-top: 18px;
}
.footer_info .footer_phone,
.footer_info .footer_email,
.footer_info .footer_adress {
  color: #fff;
  letter-spacing: 0.25px;
  position: relative;
  padding-left: 30px;
  line-height: 18px;
  font-size: 16px;
}
.footer_info .footer_phone:before {
  content: "\f095";
  font-family: 'icomoon';
  position: absolute;
  left: 3px;
  color: #ffc222;
}
.footer_info .footer_email:before {
  content: "\f003";
  font-family: 'icomoon';
  position: absolute;
  left: 3px;
  color: #ffc222;
}
.footer_info .footer_adress:before {
  content: "\f041";
  font-family: 'icomoon';
  position: absolute;
  left: 3px;
  color: #ffc222;
}
.footer_map {
  padding-top: 10px;
}
.footer_map iframe {
  width: 633px;
  height: 253px;
}
.footer_copy {
  background-color: #303030;
  padding: 12px 0;
}
.footer_copy .copy_text {
  text-align: center;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 24px;
}
.header_modal,
.footer_modal {
  display: none;
  max-width: 450px;
  padding: 30px 50px 50px;
  text-align: center;
}
.header_modal input,
.footer_modal input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  outline: none;
  padding: 0 10px;
  font-size: 16px;
  line-height: 34px;
  border: 2px solid #d3d2d2;
}
.header_modal input:focus,
.footer_modal input:focus {
  border-color: #ffc222;
}
.header_modal h2,
.footer_modal h2 {
  text-transform: uppercase;
  line-height: 30px;
  font-size: 18px;
}
.header_modal .modal_btn,
.footer_modal .modal_btn {
  width: 100%;
  font-size: 16px;
  line-height: 34px;
  border: 2px solid #bdbdbe;
  background-color: #f9f9f9;
  padding: 3px 10px;
}
.header_modal .modal_btn:hover,
.footer_modal .modal_btn:hover {
  background-color: #ffc222;
}
.slider_modal {
  display: none;
}
